@media screen and (min-width: 768px) and (max-width:992px) {
    body {
        background-image: linear-gradient(to top, #32202C, #005D8A);
    }

    section {
        width: 70vw;
    }

    div#foto {
        float: left;
        width: 30%;
        height: 100%;
    }

    div#formulario {
        float: right;
        width: 70%;
    }
}

/* telas grandes */
 
@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #32202C, #005D8A);
    }

    section {
        width: 950px;
    }

    div#foto {
        float: right;
        width: 50%;
        height: 100%;
    }

    div#formulario {
        float: left;
        width: 50%;
    }

    #formulario h1{
        font-size: 2.3em;
    }

    #formulario p {
    font-size: 1.3em;
    }
}